Repository dominguetigs/termsheet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: update husky configuration
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: update husky configuration
  .husky/pre-commit
Due: none

feat: install @angular/material, ngx-mask and migrate eslint configuration
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/app.config.ts
  src/index.html
  src/styles.scss
Due: prettier --write, eslint

feat: create first version of deal list with filter by search
  src/app/app.component.scss
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/constants/deals.ts
  src/app/pages/deal/deal.routes.ts
  src/app/pages/deal/list/list.component.html
  src/app/pages/deal/list/list.component.scss
  src/app/pages/deal/list/list.component.spec.ts
  src/app/pages/deal/list/list.component.ts
  src/app/pages/deal/list/table-data-source.ts
  src/app/services/deal.service.ts
  src/app/types/deal.ts
  src/app/utils/filter-array-by-string.ts
  src/app/utils/search-in-array.ts
  src/app/utils/search-in-obj.ts
  src/app/utils/search-in-string.ts
  tsconfig.json
Due: prettier --write, eslint

feat: install tailwind and update deal list component
  package-lock.json
  package.json
  postcss.config.js
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/pages/deal/list/list.component.html
  src/app/pages/deal/list/list.component.scss
  src/app/pages/deal/list/list.component.ts
  src/styles.scss
  tailwind.config.js
Due: prettier --write, eslint

feat: create deal form and create logic to highlight searched text
  src/app/pages/deal/form/form.component.html
  src/app/pages/deal/form/form.component.ts
  src/app/pages/deal/list/list.component.html
  src/app/pages/deal/list/list.component.ts
  src/app/utils/extract-form-control-values.ts
  src/styles.scss
Due: prettier --write, eslint

feat: create logic to filter by price
  src/app/constants/deals.ts
  src/app/pages/deal/list/list.component.html
  src/app/pages/deal/list/list.component.ts
  src/app/pages/deal/list/table-data-source.ts
  src/app/types/price-conditions.ts
  src/app/utils/parse-price.ts
Due: prettier --write, eslint

fix: apply trim to searched text
  src/app/pages/deal/form/form.component.html
  src/app/pages/deal/list/list.component.ts
Due: prettier --write, eslint

feat: update styles and theme
  angular.json
  src/app/pages/deal/list/list.component.html
  src/styles.scss
  src/styles/base.scss
  src/styles/main.scss
  src/styles/overrides.scss
  src/styles/theme.scss
  src/styles/vendor/tailwindcss.scss
Due: prettier --write

feat: update scripts and update README
  README.md
  package.json
Due: none

feat: update README
  README.md
Due: none

feat: add toastr to show a feedback when user creates a deal
  package-lock.json
  package.json
  src/app/app.config.ts
  src/app/services/deal.service.ts
  src/styles/main.scss
  src/styles/vendor/ngx-toastr.scss
Due: prettier --write, eslint

feat: create logic to destroy subscriptions
  src/app/pages/deal/form/form.component.ts
  src/app/pages/deal/list/list.component.ts
Due: prettier --write, eslint

feat: update table-data-source.ts
  src/app/pages/deal/list/table-data-source.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: src/**/*.{js,ts,html,css,scss}
  eslint: any of: src/**/*.{js,ts}
